<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joan Clarke</title>
</head>
<body>
    <header>
<h1>Joan Clarke</h1>
<img src="/img/joan.jpg" alt="" style="width: 500px;">
<h4>Clarke, por su trabajo durante la Segunda Guerra Mundial, obtuvo la Orden del Imperio Británico en 1947.</h4>
<h2>descripcion</h2>
<p>Joan Clarke nació el 24 de junio de 1917 en West Norwood, Inglaterra. Estudiante brillante, ganó una beca para estudiar matemáticas en el Newnham College de Cambridge, donde consiguió el  denominado Part I of the Mathematical Tripos (cursos de tres años que llevaban a conseguir una licenciatura) en 1936 acabando el trienio como una “Wrangler” (estudiante con honores). Aunque se sacó el Part II en 1939 y el Part III en 1940, nunca le dieron la tan merecida licenciatura en matemáticas debido a que la Universidad de Cambridge  no concedió licenciaturas a mujeres hasta 1948.</p>
<h3>biografia</h3>
<p>En su transitar por el Newnham College en Cambridge, Joan Clarke logró demostrar altas capacidades en las matemáticas y fue ese atributo que la llevó a ser reconocida por Gordon Welchman, uno de sus profesores dentro de mencionada casa de estudios. Fue este profesor quien precisamente logra descubrir las habilidades que tenía Joan Clarke para los números y no olvidemos que Welchman estaba considerado como uno de los cuatro mejores matemáticos reclutados en 1939 para supervisar las operaciones de decodificación de Bletchley Park.

    Una vez que el profesor Gordon Welchman se percata de las altas habilidades que tenía Joan Clarke para las matemáticas decide reclutar con el fin de que comenzara a formar parte del equipo que trabajaba en Bletchley Park y también para que hiciera parte de la Government Code and Cypher School, una organización que comenzó en 1939 con el objetivo principal de romper el Código Enigma alemán. Enigma estaba constituida como una máquina que usaban los alemanes para encriptar sus mensajes y creían que sus máquina era irrompible.
    
    Luego de varias negociaciones, Joan Clarke finalmente llega a Bletchley Park el 17 de junio de 1940, sin embargo, en esa ocasión su labor de enfocó principalmente en trabajos rutinarios de oficina y formó parte de un grupo que era conformado únicamente por mujeres y que era llamado “Las Niñas”. Allí no duró mucho tiempo debido a que rápidamente sus supervisores se percataron que tenía habilidades para el trabajo de la criptología, un mundo que para la época era dominado por hombres.
    
    Quizás ese fue uno de sus mayores logros profesionales obtenidos en la carrera de Joan Clarke, sin embargo, desde el punto de vista personal también tuvo episodios importantes que terminaron por marcar su carrera. Desde muy pequeña, Joan Clarke se caracterizó por ser una mujer bastante reservada y un tanto tímida de acuerdo a Kerry Howard, investigadora de la historia de las mujeres en la Segunda Guerra Mundial.</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Charles Babbage</a></li>
        <li><a href="/berners-lee">Timothy Berners-lee</a></li>
        <li><a href="/clarke">Joan Clarke</a></li>
        <li><a href="/hamilton">Margaret Hamilton</a></li>
        <li><a href="/hopper">Grace Hopper</a></li>
        <li><a href="/lovelace">Ada Lovelace</a></li>
        <li><a href="/turing">Alan Turing</a></li>
    </ul>
</header>
</body>
</html>