<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margaret Hamilton</title>
</head>
<body>
    <header>
<h1>Margaret Hamilton  "La primera Ingeniera Del Sofware"</h1>
<img src="/img/Hamilton.gif" alt="" style="width: 300px;">
<h2>descripcion</h2>
<p>Margaret Hamilton nació el 17 de agosto de 1937 en Paoli, Indiana, Estados Unidos. Comenzó sus estudios de matemáticas en la Universidad de Míchigan y posteriormente se trasladó al Earlham College, donde se licenció en Matemáticas (con diplomatura en Filosofía) en 1958. Incansable, su deseo era seguir estudiando, pero desgraciadamente, tuvo que dejar sus estudios para trabajar como profesora de matemáticas y francés en un instituto para que su marido pudiera acabar su carrera en Harvard. Posteriormente, y siguiendo su sueño, se mudó a Boston para estudiar matemáticas abstractas en la Universidad Brandeis.</p>
<h3>biografia</h3>
<p>Margaret Hamilton fue una auténtica pionera en una época en la cual la programación no se consideraba ni ciencia. Y lo hizo con determinación, contra viento y marea, aprendiendo lenguajes informáticos de forma autodidacta. Ayudó a crear lo que serían las bases de la programación, las bases de la ingeniería de software, término que ella misma acuñó. Según cuenta, muchos compañeros de la NASA se burlaron de ella cuando utilizó aquel término por primera vez, y lo siguieron haciendo hasta que un día un “gurú” de la programación le dio la razón: aquel término era correcto y la ingeniería de software una nueva rama de la ciencia.

    El esfuerzo de Margaret se ha visto recompensado en los innumerables premios que ha recibido a lo largo de su vida. Además del Exceptional Space Act Award de la NASA, vio reconocida su labor con la Medalla Presidencial de la Libertad en 2006, el mayor reconocimiento concedido a un civil en Estados Unidos.</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/babbage">Charles Babbage</a></li>
        <li><a href="/berners-lee">Timothy Berners-lee</a></li>
        <li><a href="/clarke">Joan Clarke</a></li>
        <li><a href="/hamilton">Margaret Hamilton</a></li>
        <li><a href="/hopper">Grace Hopper</a></li>
        <li><a href="/lovelace">Ada Lovelace</a></li>
        <li><a href="/turing">Alan Turing</a></li>
    </ul>
</header>
</body>
</html>