<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <header>
<h1>Grandes Heroes De La Informatica</h1>
<img src="/img/babbage.jpg" alt="" style="width: 100px;"><img src="/img/tim.jpg" alt="" style="width: 100px;"> <img src="/img/joan.jpg" alt="" style="width: 80px;"> <img src="/img/Hamilton.gif" alt="" style="width: 40px;"> <img src="/img/hopper.jpg" alt="" style="width: 40px;"> <img src="/img/ada.jpg" alt="" style="width: 40px;"> <img src="/img/alan.jpg" alt="" style="width: 90px;">
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/babbage">Charles Babbage</a></li>
    <li><a href="/berners-lee">Timothy Berners-lee</a></li>
    <li><a href="/clarke">Joan Clarke</a></li>
    <li><a href="/hamilton">Margaret Hamilton</a></li>
    <li><a href="/hopper">Grace Hopper</a></li>
    <li><a href="/lovelace">Ada Lovelace</a></li>
    <li><a href="/turing">Alan Turing</a></li>
</ul>
<h2></h2>
<p></p>
<h3></h3>
<p></p>
</header>
</body>
</html>